<header class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter"></div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title" bindonce bo-text="screenTitle"></h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter"></div>
</header>


<section>
        <p align="center"><a class="topcoat-button mainBtn" ng-click="editProfile()">Edit my profile</a></p>
        <p align="center"><a class="topcoat-button mainBtn is-disabled" >List items from Cloud</a></p>
        <p align="center"><a class="topcoat-button mainBtn is-disabled" >Cloud Search</a></p>
        <p align="center"><a class="topcoat-button mainBtn is-disabled" >Connect to backend server</a></p>
</section>